.jumbotron {
  padding-top: 6rem;
  background-color: #d3d3d3;
}
#About {
  background-color: #d3d3d3;
}
#Gallery {
  background-color: #d3d3d3;
}
#Contact {
  background-color: #d3d3d3;
}
section {
  padding-top: 4rem;
}
